<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启日志输出-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!--配置类别名，配置后在Mapper配置文件（通常我们将编写SQL语句的配置文件成为Mapper配置文件）中需要使用pojo包中的类时，使用简单类名即可-->
<!--    <typeAliases>-->
<!--        <package name="com.example.mybatistest.demo.entity"/>-->
<!--    </typeAliases>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
<!--                <property name="username" value="UTFXMkUzaGlzX2Nxd3k="/>-->
<!--                <property name="password" value="UTFXMkUzdGVzdF8yMDE5"/>-->
                <property name="username" value="his_cqwy"/>
                <property name="password" value="test_2019"/>
                <property name="url" value="jdbc:oracle:thin:@192.168.1.79:1521:orcl"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.example.mybatistest.demo"/>
<!--        <mapper class="com.example.mybatistest.demo.mapper.IClcDiagMapper" />-->

<!--        <mapper resource="com/example/mybatistest/demo/mapper/IClcDiagMapper.xml" />-->
    </mappers>

<!--    inp.drivers=oracle.jdbc.OracleDriver-->
<!--    inp.master.jdbcUrl= jdbc\:oracle\:thin\:@192.168.1.79\:1521\:orcl-->
<!--    inp.master.username=UTFXMkUzaGlzX2Nxd3k=-->
<!--    inp.master.password=UTFXMkUzdGVzdF8yMDE5-->
<!--    inp.master.maxPoolSize=10-->
<!--    inp.master.minIdle= 3-->
<!--    inp.master.poolName=master-->
<!--    jdbc:oracle:thin:@192.168.1.79:1521:orcl-->

</configuration>
